:root {
  --color-link: #00a2e7;
  --color-link-visited: #ca1a70;
  --color-link-hover: #0056b3;
  --color-background: #fff;
  --color-text: #454545;
  --color-background-dark: #000;
  --color-text-dark: #d9d9d9;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --color-link: #00a2e7;
    --color-link-visited: #ca1a70;
    --color-link-hover: #0056b3;
    --color-background: #fff;
    --color-text: #454545;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: #00a2e7;
    --color-link-visited: #ca1a70;
    --color-link-hover: #0056b3;
    --color-background: #000;
    --color-text: #d9d9d9;
  }
}

@media screen and (max-width: 768px) {
  body {
    main {
      margin-left: 1rem;
    }
    text-align: left;
  }
  .site-navigation {
    .nav-links > a {
      display: none;
    }
  }
  .nav-folder {
    display: block !important;
  }
}

html {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-background);
  }
  body {
    font-family: Open Sans, Arial;
    color: var(--color-text);
    font-size: clamp(16px, 1.5vw, 20px);
    margin: 0 auto;
    max-width: clamp(800px, 2vw, 1000px);
    padding: 0;
    line-height: 1.4;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    p {
      font-size: 1rem;
    }
  }
}

a {
  color: var(--color-link) !important;
  text-decoration: none;
  &:hover {
    color: var(--color-link-hover) !important;
  }
  &.current {
    color: var(--color-link-visited) !important;
  }
}

img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
.site-navigation {
  border-bottom: 1px solid var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .nav-logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
  }
}
.nav-folder {
  display: none;
  position: relative;

  &:hover {
    .nav-folder-dropdown {
      display: block;
    }
    .nav-folder-title {
      &::before {
        content: "×";
      }
    }
  }
  .nav-folder-dropdown {
    display: none;
    position: absolute;
    left: -3rem;
    top: 100%;
    background-color: var(--color-background);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid var(--color-text);
    z-index: 10;
    > a {
      color: var(--color-text);
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid var(--color-text);
      font-size: 13px;
      &:hover {
        background-color: var(--color-background);
      }
      &.current {
        color: var(--color-link-visited) !important;
      }
    }
  }
}
.nav-folder-title {
  &::before {
    content: "≡";
    transition: 0.3s ease;
  }
  display: block;
  padding: 8px 12px;
  font-weight: bold;
  color: var(--color-text);
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
